footer {
  .wrapper {
    position: relative;
    .container-information {
      @extend .flex-jc;
      gap: 150px;
      position: relative;
      overflow: hidden;
      padding: 40px 140px;
      @extend .shape-top;
      @include border-radius(120px 120px 0 0);
      .card-information {
        @extend .flex-jc;
        @include flex-direction(column);
        img {
          width: 82px;
          aspect-ratio: 1/1;
          background: $white;
          @include border-radius(50%);
          margin-bottom: 15px;
        }
        a {
          font-family: "gilroy-regular";
          font-size: 18px;
          color: $white;
          white-space: nowrap;
          &:not(:last-of-type) {
            margin-bottom: 5px;
          }
        }
      }
    }
    .container-additional-information {
      @extend .flex-sb;
      gap: 50px;
      padding: 40px;
      .text-payement {
        h3 {
          color: $red;
          margin-bottom: 10px;
        }
        p {
          color: $gray;
          line-height: 24px;
          max-width: 387px;
        }
      }
      .img-payement {
        @extend .grid-50;
        img {
          max-width: 120px;
          height: 50px;
        }
      }
      ul.menu-footer {
        @extend %flex;
        @include flex-direction(column);
        gap: 10px;
        a {
          font-family: "gilroy-regular";
          font-size: 18px;
          color: $dark;
          position: relative;
          padding-left: 25px;
          white-space: nowrap;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 15px;
            aspect-ratio: 1/1;
            background: $red;
            @include border-radius(50%);
          }
        }
      }
      form.subscribe {
        min-width: 350px;
        textarea {
          width: 100%;
          color: $gray;
          height: 132px;
          padding: 15px 20px;
          @include border-radius(23px 23px 23px 0);
          border: 1px $gray solid;
        }
        button {
          border: none;
          margin-top: 10px;
        }
      }
      ul.social-icon {
        @extend %flex;
        @include flex-direction(column);
        gap: 20px;
        li a {
          background: #e12948;
          width: 40px;
          aspect-ratio: 1/1;
          @include border-radius(50%);
          @extend .flex-jc;
        }
      }
    }
    .fleche-footer {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}
