//HEADER
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #ffffffdf;
  backdrop-filter: blur(50px);

  .wrapper {
    @extend .flex-sb;
    padding: 20px 40px;

    @include breakpoint(xs) {
      padding: 20px;
    }

    @include breakpoint(sm) {
      .nav-menu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -80%;
        width: 60%;
        background: $red;
        display: flex;
        @include align-items(center);
        @include justify-content(start);
        z-index: 100;
        ul {
          @include flex-direction(column);
          gap: 20px !important;
          margin-left: 50px;
          width: 100%;
          li a {
            color: $white;
            padding: 10px 0;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

    * {
      color: $gray;
      font-family: "gilroy-bold";
      font-size: 18px;
    }

    .logo {
      max-width: 109px;
      width: 100%;
    }

    .demande-devis {
      position: fixed;
      top: 80px;
      right: 10px;
      width: 40px;
      height: 40px;
      @extend .flex-jc;
      @include border-radius(50px);
      z-index: 1;
      cursor: pointer;

      &::before {
        content: "Demande devis";
        position: absolute;
        top: 50%;
        left: -150px;
        white-space: nowrap;
        transform: translateY(-50%);
        color: $white;
        height: 40px;
        @extend %flex;
        @include justify-content(start);
        @include align-items(center);
        width: 180px;
        padding-left: 20px;
        opacity: 0;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background: $yellow;
        z-index: -1;
        @include border-radius(20px);
        transform-origin: right;
      }
      &:hover {
        &::after {
          width: 190px;
        }
        &::before {
          opacity: 1;
        }
      }
      img {
        width: 20px;
      }
    }
    .demande-devis.automatique {
      top: 140px;
      &::before {
        content: "Devis automatique";
        left: -180px;
      }
      &::after {
        background: $red;
      }
      &:hover {
        &::after {
          width: 220px;
        }
      }
    }

    #menu {
      @extend %flex;
      gap: 70px;

      @include breakpoint-up(sm) {
        li a:hover {
          color: $red;
        }
        li.current-menu-item {
          a {
            // color: $red;
          }
        }
      }
    }

    .menu-social {
      @extend %flex;
      @include justify-content(center);
      @include align-items(center);
      gap: 40px;
      .my-account {
        @extend %flex;
        color: #b2b2b2;
        img {
          filter: brightness(10) invert(0.7);
        }
        @include breakpoint(md) {
          display: none;
        }
      }

      .notification {
        @extend %flex;
        @include justify-content(center);
        @include align-items(center);
        gap: 15px;

        img {
          width: 24px;
          aspect-ratio: 1/1;
        }
        #burgerMenu {
          display: none;
          transform: scale(1.3);
          transform-origin: center;
          @include breakpoint(sm) {
            display: block;
          }
        }
        #my-account {
          display: none;
          @include breakpoint(sm) {
            display: block;
          }
        }
        .closeIcon {
          display: none;
        }
        .active {
          .burgerIcon {
            display: none;
          }
          .closeIcon {
            display: block;
          }
        }
      }
      //SEARCH TRIGGER
      #search-container {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        width: 350px;
        margin-top: 10px;
        @include breakpoint(xs) {
          width: 100%;
        }
      }

      #search-produit {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
      }

      #resultats-produit {
        position: absolute;
        top: 45px;
        width: 100%;
        background: white;
        // border: 1px solid #ddd;
        border-radius: 6px;
        max-height: 300px;
        overflow-y: auto;
        z-index: 999;
      }

      /* Les résultats */
      .result-produit-item {
        display: flex;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
      }

      .result-produit-item:hover {
        background: #f5f5f5;
      }

      .no-result {
        padding: 10px;
        color: #777;
      }
    }
  }
}

/* Scroll personnalisé */
#wrapper_mini_cart::-webkit-scrollbar {
  width: 0;
}

//OVERLAY
#overlay {
  @extend .overlay;
  height: 100vh;

  //MINI CART
  .wrapper {
    background: #ebebeb;
    width: 462px;
    height: 100vh;
    float: right;
    padding: 0;
    transform: translateX(100%);
    overflow-y: scroll !important;

    @include breakpoint(sm) {
      width: 100%;
    }
    &.active {
      transform: translateX(0%);
    }
    .header-mini-cart {
      @extend .flex-sb;
      @include align-items(center);
      background: $white;
      width: 100%;
      padding: 15px 25px;
      h2 {
        font-family: "gilroy-regular";
        font-size: 28px;
        color: $red;
      }
      #close-button {
        transform: scale(1.5);
        cursor: pointer;
      }
    }
    .body-mini-cart {
      ul.tabslink-cart {
        @extend .flex-sb;
        background: $white;
        padding: 7px;
        @include border-radius(21px);
        margin: 10px 28px;
        @include flex-wrap(nowrap);
        @include breakpoint(xs) {
          margin: 10px;
          padding: 0;
        }
        li {
          text-align: center;
          width: 100%;
        }
        li a {
          padding: 10px 35px;
          @include border-radius(16px);
          @include breakpoint(xs) {
            font-size: 14px;
          }
          &.active {
            background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
          }
          span {
            font-family: "inherit";
          }
        }
      }
      #panier {
        margin: 20px 28px;
        @extend %flex;
        @include flex-direction(column);
        gap: 10px;
        @include breakpoint(xs) {
          margin: 10px;
        }
        .cart-items-wrapper {
          @extend %flex;
          @include flex-direction(column);
          gap: 20px;
        }
        .card-cart {
          @extend %flex;
          @include justify-content(start);
          gap: 20px;
          padding: 20px;
          background: $white;
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.0705882353);
          @include border-radius(10px);
          position: relative;
          .card-img {
            height: 105px;
            aspect-ratio: 1/1;
            @include border-radius(20px);
            background: $gray;
          }
          .card-text {
            @extend %flex;
            @include flex-direction(column);
            gap: 10px;
            @include breakpoint(xs) {
              gap: 5px;
            }
            .name {
              font-size: 18px;
              color: $yellow;
            }
            .price {
              color: $dark;
              font-family: "gilroy-bold";
            }
          }
          .remove {
            position: absolute;
            top: 5px;
            right: 5px;
            background: $red;
            @include border-radius(50%);
            cursor: pointer;
            height: 20px;
            aspect-ratio: 1 / 1;
            img {
              filter: brightness(10);
            }
          }
        }
        .container-bouton {
          @extend .flex-sb;
          @include breakpoint(sm) {
            @include flex-direction(column);
          }
          a {
            @include border-radius(4px);
            text-align: center;
            margin-top: 10px;
            color: $white;
            border: 1px $yellow solid;
          }
          a:nth-of-type(2) {
            background: transparent;
            color: $red;
            border: 1px $red solid;
          }
        }
      }
      #mon_compte {
        .personal-information {
          background: $red;
          padding: 15px 30px;
          @extend .flex-sb;
          @include align-items(center);
          .container-personal-information {
            @extend %flex;
            @include align-items(center);
            .profil {
              width: 62px;
              aspect-ratio: 1/1;
              @extend .flex-jc;
              @include border-radius(50%);
              background: linear-gradient(#e20e56, #df5531);
              object-fit: cover;
            }
            .text-information {
              h3 {
                color: $yellow;
              }
              span {
                color: $white;
              }
            }
          }
        }
        ul.tabslink-personal-information {
          margin: 30px 40px;
          padding: 0;
          @extend .grid-50;
          gap: 10px;
          background: transparent;
          @include breakpoint(xs) {
            margin: 20px;
          }
          li a {
            padding: 15px;
            @include border-radius(10px);
            background: $white;
            text-align: center;
            font-size: 16px;
            @include breakpoint(xs) {
              font-size: 14px;
              padding: 10px;
            }
            &.active {
              background: linear-gradient(
                90deg,
                #e50051 26.25%,
                #e94f35 84.96%
              );
            }
          }
        }
        #mes_commandes {
          .card-commande {
            @extend .flex-sb;
            @include border-radius(10px);
            background: $white;
            margin: 50px;
            padding: 15px;
            box-shadow: 0px 3px 3px 0px #00000012;
            @include breakpoint(xs) {
              margin: 20px;
            }
            .img-product {
              width: 105px;
              aspect-ratio: 1/1;
              background: $gray;
              @include border-radius(10px);
              object-fit: contain;
            }
            .info-product {
              .coordonnees-product {
                @extend .flex-sb;
                .date {
                  span {
                    color: $dark;
                    &:nth-of-type(1) {
                      font-size: 14px;
                    }
                    &:nth-of-type(2) {
                      font-size: 12px;
                    }
                  }
                }
                .etat {
                  box-shadow: 0px 3px 3px 0px #0000000a;
                  padding: 5px 10px;
                  @include border-radius(5px);
                  span {
                    font-size: 9px;
                    white-space: nowrap;
                  }
                  &.en-attente {
                    background: #fef3c7;
                    span {
                      color: #92400e;
                    }
                  }
                  &.en-production {
                    background: #d1fae5;
                    span {
                      color: #065f46;
                    }
                  }
                  &.validation {
                    background: #d1e9ff;
                    span {
                      color: #49a5ff;
                    }
                  }
                  &.livree {
                    background: #ddffc9;
                    span {
                      color: #678f3d;
                    }
                  }
                  &.annule {
                    background: #ffb2b2;
                    span {
                      color: #ff4d96;
                    }
                  }
                }
              }
              .nom-product {
                margin: 5px 0;
                span {
                  font-size: 14px;
                  font-family: "gilroy-bold";
                  &:nth-of-type(1) {
                    color: $yellow;
                  }
                  &:nth-of-type(2) {
                    color: $dark;
                  }
                }
              }
              .bouton-product {
                @extend .flex-sb;
                gap: 3px;
                @include breakpoint(xs) {
                  @include flex-direction(column);
                }
                a {
                  width: 50%;
                  font-size: 12px;
                  text-align: center;
                  padding: 5px;
                  @include border-radius(5px);
                  background: #e8e8e8;
                  color: #3b3b3b;
                  font-family: "gilroy-bold";
                  @include breakpoint(xs) {
                    width: 100%;
                  }
                  &:hover {
                    background: $red;
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //SUIVI-COMMANDE
  .pop-up-suivi-commande {
    @extend .pop-up-mini-cart;
    .header-suivi-commande {
      margin-bottom: 20px;
      @extend .flex-sb;
      h3 {
        font-size: 24px;
        color: $dark;
        font-family: "girloy-regular";
        @include breakpoint(sm) {
          font-size: 18px;
        }
      }
      #close-popup-suivi {
        transform: scale(1.5);
        cursor: pointer;
      }
    }
    .body-suivi-commande {
      .etape {
        @extend %flex;
        @include flex-direction(column);
        gap: 10px;
        #recu,
        #verification {
          .etape-img {
            background: #8eff4d;
          }
        }
        #production {
          .etape-img {
            background: #ec1d1d;
            img {
              transform: translateX(0);
            }
          }
        }
        #expedition {
          .etape-img {
            background: #e4e4e4;
            img {
              transform: translateX(0);
            }
          }
        }
        .card-etape {
          @extend %flex;
          @include align-items(center);
          .etape-img {
            width: 50px;
            aspect-ratio: 1/1;
            @include border-radius(50%);
            @extend .flex-jc;
            @include breakpoint(sm) {
              width: 40px;
            }
            img {
              transform: translateX(3px);
            }
          }
          .etape-title {
            h4 {
              font-size: 18px;
              color: $dark;
              font-family: "girloy-regular";
              @include breakpoint(sm) {
                font-size: 16px;
              }
            }
            span {
              font-size: 16px;
              color: $gray;
            }
          }
        }
      }
    }
  }

  //DETAIL COMMANDE
  .pop-up-detail-commande {
    @extend .pop-up-mini-cart;
    .header-detail-commande {
      margin-bottom: 20px;
      @extend .flex-sb;
      h3 {
        font-size: 24px;
        color: $dark;
        font-family: "girloy-regular";
        @include breakpoint(sm) {
          font-size: 18px;
        }
      }
      #close-popup-detail {
        transform: scale(1.5);
        cursor: pointer;
      }
    }
    .body-detail-commande {
      .card-recapitulation {
        @extend .flex-sb;
        background: #e9f5e9;
        padding: 18px;
        @include border-radius(7px);
        .img-recapitulation {
          width: 106px;
          aspect-ratio: 1/1;
          @include border-radius(10px);
          background: $white;
        }
        .text-recapitulation {
          #nom,
          #prix {
            font-family: "gilroy-bold";
            font-size: 18px;
            color: #368409;
            @include breakpoint(sm) {
              font-size: 16px;
            }
          }
          #description {
            font-size: 14px;
            color: #a4a4a4;
            margin: 7px 0;
          }
          #prix {
            color: $dark;
          }
        }
      }
      .livraison,
      .paiement {
        margin-top: 15px;
        h4 {
          font-size: 18px;
        }
        .card-livraison,
        .card-paiement {
          padding: 20px;
          border: 0.25px solid #707070;
          @include border-radius(10px);
          margin-top: 10px;
          span {
            color: $dark;
            font-size: 14px;
            font-family: "gilroy-medium";
          }
        }
      }
      .paiement {
        .card-paiement {
          @extend %flex;
          @include flex-direction(column);
          gap: 5px;
          .sous-total,
          .total-livraison,
          .tva,
          .total {
            @extend .flex-sb;
          }
          .total {
            padding-top: 5px;
            border-top: 1px #707070 solid;
            span {
              color: $dark;
              font-family: "gilroy-bold";
            }
          }
        }
      }
      .bouton-detail {
        @extend .flex-sb;
        margin-top: 10px;
        @include breakpoint(sm) {
          @include flex-direction(column);
          gap: 10px;
        }
        a {
          width: 50%;
          padding: 10px;
          @extend %flex;
          @include justify-content(center);
          @include align-items(center);
          gap: 10px;
          font-size: 14px;
          font-family: "gilroy-bold";
          @include border-radius(10px);
          @include breakpoint(sm) {
            width: 100%;
          }
          &:nth-of-type(1) {
            color: $white;
            background: linear-gradient(#ffa127, #df5531);
          }
          &:nth-of-type(2) {
            color: #707070;
            background: #f1f1f1;
          }
          img {
            height: 20px;
          }
        }
      }
    }
  }
}

//DEVIS COMMANDE
.pop-up-devis-commande {
  @extend .overlay;
  .pop-up-container {
    @extend .pop-up-single;
    min-width: 530px;
    padding: 50px;
    @include breakpoint(sm) {
      min-width: 90%;
      padding: 50px 20px 20px 20px;
    }
    .header-devis-commande {
      @extend .flex-jc;
      h3 {
        color: $dark;
        @include breakpoint(sm) {
          font-size: 18px;
        }
      }
    }
    .body-devis-commande {
      form {
        @extend %flex;
        @include flex-direction(column);
        gap: 10px;
        width: 100%;
        margin-top: 20px;
        input,
        textarea {
          padding: 15px 20px;
          text-align: left;
          border: 1px #e5e7eb solid;
          @include border-radius(10px);
        }
        textarea {
          height: 100px;
        }
        button {
          @include border-radius(10px);
        }
      }
    }
    #close-popup-devis-commande {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
