.formulaire_ajout {
  border: 1px $gray solid;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 50px;
  label {
    font-family: "gilroy-bold";
  }
  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
  }
  input[type="file"] {
    padding: 0;
  }
  button[type="submit"] {
    padding: 12px 25px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
  }
}
