.main-content {
  .main-panels {
    margin-top: 40px;

    .panel-validation {
      width: 30%;
      h3 {
        color: $dark;
      }
      .panel-body {
        background: $white;
        box-shadow: 0px 0px 7.5px 0px #0000001a;
        @include border-radius(20px);
        padding: 10px;
        @extend %flex;
        flex-direction: column;
        gap: 10px;
        a {
          padding: 15px;
          @include border-radius(20px);
          &:hover {
            background: linear-gradient(to right, #ed752d, #ffa127);
          }
        }
        strong {
          font-family: "Gilroy-bold";
          color: $dark;
        }
        small {
          color: $dark;
          font-family: "Gilroy-regular";
          font-size: 15px;
        }
      }
    }
    .panel-commande {
      width: 70%;
      h3 {
        color: $dark;
      }
      .gray {
        font-family: "Gilroy-SemiBold";
        color: $gray;
      }
      .yellow {
        color: $yellow;
        font-family: "Gilroy-SemiBold";
      }
      .number {
        font-family: "Gilroy-bold";
        font-size: 20px;
      }
    }
    .panel-body {
      margin-top: 20px;
      p {
        font-family: "Gilroy-regular";
      }
      form {
        h4 {
          font-family: "Gilroy-bold";
        }
        .message-retour-client {
          margin-top: 20px;
          background: #ecf9ff;
          padding: 10px;
          @include border-radius(20px);
          border: 1px solid #bfdfff;
          label {
            color: #248ee6;
            font-family: "Gilroy-SemiBold";
          }
          .flex {
            @extend %flex;
            gap: 20px;
            align-items: center;
          }
          .remarque-clients {
            margin-top: 20px;
            #remarques_generales {
              width: 100%;
              padding: 10px;
              @include border-radius(10px);
              border: 1px solid #c8e3ff;
              background: $white;
              font-family: "Gilroy-regular";
              color: $gray;
            }
          }
          .validation-clients {
            margin-top: 20px;
            #message_client {
              width: 100%;
              padding: 10px;
              @include border-radius(10px);
              border: 1px solid #c8e3ff;
              background: $white;
              font-family: "Gilroy-regular";
              color: $gray;
            }
          }
          .containair-btn {
            @extend %flex;
            @include justify-content(right);
            gap: 20px;
            margin-top: 10px;

            .btn-rejeter {
              width: 50%;
              background: $red;
              color: $white;
              font-family: "Gilroy-SemiBold";
              padding: 10px;
            }
            .btn-valider {
              width: 50%;
              background: #50b716;
              color: $white;
              font-family: "Gilroy-SemiBold";
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
