// BANNER
#banner {
  margin: 100px auto 0 auto;
  padding: 0;
  .wrapper {
    @extend .flex-sb;
    gap: 50px;
    position: relative;
    padding: 70px;
    @extend .shape-bottom;
    overflow: hidden;
    @include border-radius(30px);
    @include breakpoint(xs) {
      @include flex-direction(column);
      gap: 20px;
      padding: 50px 30px 60px 30px;
      @include border-radius(0);
    }
    .banner-text {
      // max-width: 550px;
      width: 100%;
      @extend %flex;
      @include flex-direction(column);
      gap: 40px;
      @include breakpoint(xs) {
        gap: 20px;
      }

      .white {
        color: $white;
      }

      .banner-btn {
        @extend %flex;
        @include breakpoint(xs) {
          @include flex-direction(column);
          gap: 10px;
          text-align: center;
        }
      }
    }

    .banner-QR {
      width: 70%;
      // max-width: 400px;
      @include border-radius(20px);
      overflow: hidden;
      @include breakpoint(xs) {
        max-width: 100%;
      }
    }
  }
}

// CLIENTS
#clients {
  position: relative;
  padding: 0;
  overflow: visible;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: -150px;
    width: 300px;
    height: 300px;
    background-image: url("assets/img/ellipse_client_red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(40px);
    z-index: -1;
    @include breakpoint(xs) {
      display: none;
    }
  }
  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: -150px;
    width: 300px;
    height: 300px;
    background-image: url("assets/img/ellipse_client_yellow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(40px);
    z-index: -1;
    @include breakpoint(xs) {
      display: none;
    }
  }

  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);
    gap: 50px;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: $white;
    @include border-radius(30px);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 15%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 15%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
      transform: rotate(180deg);
    }
    @include breakpoint(xs) {
      @include border-radius(0);
    }

    span {
      color: $gray;
      font-size: 18px;
      font-family: "gilroy-bold";
      text-align: center;
    }

    .container-logo-client {
      width: 100%;
      white-space: nowrap;
      &:hover .logos-slide {
        animation-play-state: paused;
      }

      .logos-slide {
        animation: slide 20s infinite linear;
        display: inline-flex;
        @include breakpoint(xs) {
          animation: slide 10s infinite linear;
        }
      }
      @include breakpoint(xs) {
        .logos-slide:nth-of-type(2) {
          display: none;
        }
      }
      img {
        height: 100px;
        min-width: 200px;
        object-fit: contain;
        margin: 0 40px;
      }
    }
    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
}

// ATOUTS
#atouts {
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);
    gap: 40px;

    @include breakpoint(xs) {
      gap: 20px;
    }

    .section-title {
      h2 {
        color: $red;
      }
    }

    .inner-title {
      p {
        color: $gray;
        max-width: 607px;
        width: 100%;
        text-align: center;
      }
    }

    .container-atouts {
      @extend %flex;
      @include justify-content(space-between);
      gap: 20px;
      width: 100%;
      overflow: hidden;

      @include breakpoint(xs) {
        gap: 20px;
        @include flex-wrap(wrap);
      }

      .card-atout {
        padding: 40px;
        @include border-radius(20px);
        box-shadow: 0px 0px 10px 0px #00000026;
        @extend .flex-jc;
        @include flex-direction(column);
        gap: 10px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background: $white;
        margin: 20px;

        &:hover {
          transform: translateY(-10px);
          .card-hover {
            opacity: 1;
          }
        }
        .card-hover {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          background: $red;
          @extend .flex-jc;
          padding: 40px;
          opacity: 0;
          p {
            color: $white;
            font-family: "gilroy-bold";
          }
        }
        img {
          width: 40px;
          aspect-ratio: 1/1;
        }

        @include breakpoint(xs) {
          max-width: 100%;
        }

        span {
          font-family: "gilroy-bold";
          font-size: 20px;
          color: $gray;
          white-space: nowrap;
        }
      }
    }
  }
}

// STATISTIQUES
#stats {
  .wrapper {
    background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
    @include border-radius(30px);
    padding: 50px 40px;
    @extend %flex;
    @include justify-content(center);
    @include align-items(flex-start);
    gap: 80px;
    @include breakpoint(xs) {
      @include border-radius(0);
      @include flex-direction(column);
      gap: 20px;
    }

    .card-stat {
      @extend .flex-jc;
      @include flex-direction(column);
      max-width: 246px;
      width: 100%;
      gap: 15px;
      @include breakpoint(xs) {
        max-width: 100%;
      }
      .icone_stat {
        background: $white;
        @include border-radius(50%);
        width: 60px;
        height: 60px;
        @extend .flex-jc;
        img {
          height: 30px;
        }
      }

      .nombre {
        color: $yellow;
        font-size: 36px;
        font-family: "gilroy-black";
      }

      p {
        color: $white;
      }
    }
  }
}

// TEMOIGNAGES
#temoignages {
  position: relative;
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);
    gap: 40px;
    overflow: hidden !important;
    position: relative;
    background: $white;
    padding: 50px 0;
    @include border-radius(30px);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
      @include breakpoint(sm) {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
      transform: rotate(180deg);
      @include breakpoint(sm) {
        display: none;
      }
    }
    .section-title {
      z-index: 3;
      h2 {
        color: $yellow;
        text-align: center;
      }
    }
    .container-temoignages {
      .slick-center {
        transform: scale(1.1);
        opacity: 1 !important;
      }
      .card-temoignage {
        @extend %flex;
        @include flex-direction(column);
        @include align-items(center);
        max-width: 390px;
        width: 100% !important;
        min-height: 450px;
        padding: 30px;
        margin: 50px 0;
        @include border-radius(20px);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
        background: $white;
        @include breakpoint(xs) {
          max-width: 300px;
        }
        &:not(:last-child) {
          margin-right: 60px;
        }
        .profil {
          width: 100px;
          height: 100px;
          background: $yellow;
          @include border-radius(50%);
          overflow: hidden;
          @extend .flex-jc;
          img {
            width: auto;
            height: 100%;
            object-fit: cover;
          }
        }
        .note {
          @extend .flex-jc;
          gap: 10px;
          padding: 20px 0;
          img {
            width: 24px;
            aspect-ratio: 1/1;
          }
        }
        .avis {
          text-align: center;
          color: $gray;
        }
        .voir-plus {
          text-decoration: underline;
        }
        .nom {
          font-family: "gilroy-bold";
          padding: 20px 0 5px 0;
        }
        .poste {
          color: $red;
        }
      }
    }

    .slick-prev-custom-temoignages,
    .slick-next-custom-temoignages {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @include border-radius(50%);
      background: linear-gradient(#e20e56, #df5531);
      width: 40px;
      aspect-ratio: 1/1;
      @extend .flex-jc;
      cursor: pointer;
      border: none;
      z-index: 98;
      img {
        width: 25px;
        aspect-ratio: 1/1;
        transform: rotate(180deg);
      }
    }
    .slick-next-custom-temoignages {
      right: 0;
      left: initial;
      img {
        transform: rotate(0deg);
      }
    }

    .slick-dots {
      @extend .flex-jc;

      button {
        font-size: 0;
        width: 20px;
        height: 20px;
        @include border-radius(50%);
        border: none;
        background: #bcbcbc;
        @include breakpoint-up(sm) {
          &:hover {
            background: linear-gradient(#e20e56, #df5531);
          }
        }
      }

      .slick-active {
        button {
          background: linear-gradient(#e20e56, #df5531);
        }
      }
    }
    #open-popup-temoignages {
      margin-bottom: 20px;
      z-index: 3;
    }
  }
}
//DEVIS TEMOIGNAGES
.pop-up-temoignages {
  @extend .overlay;
  .pop-up-container {
    @extend .pop-up-single;
    min-width: 530px;
    padding: 50px;
    @include breakpoint(sm) {
      min-width: 90%;
    }
    .header-devis-temoignages {
      @extend .flex-jc;
      h3 {
        color: $dark;
        @include breakpoint(sm) {
          font-size: 18px;
        }
      }
    }
    .body-devis-temoignages {
      form {
        @extend %flex;
        @include flex-direction(column);
        gap: 10px;
        width: 100%;
        margin-top: 20px;
        input,
        textarea,
        label {
          padding: 15px 20px;
          text-align: left;
          border: 1px #e5e7eb solid;
          @include border-radius(10px);
        }
        .rating {
          direction: rtl;
          @extend %flex;
          @include justify-content(center);
          gap: 5px;

          input {
            display: none;
          }

          label {
            font-size: 28px;
            color: #ccc;
            cursor: pointer;
            transition: color 0.2s ease;
            padding: 10px 15px;
          }

          label:hover,
          label:hover ~ label {
            color: $yellow;
          }

          input:checked ~ label {
            color: $yellow;
          }
        }

        textarea {
          height: 100px;
        }
        button {
          @include border-radius(10px);
        }
      }
    }
    #close-popup-temoignages {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

//PRODUITS PHARES
#produits-phares {
  .wrapper {
    @extend .t-center;
    @extend .flex-jc;
    @include flex-direction(column);

    .section-title {
      h2 {
        color: $yellow;
      }
    }

    .inner-title {
      p {
        max-width: 684px;
      }
    }

    .container-produit {
      margin-top: 50px;
      width: 100%;
      position: relative;

      .card-produit {
        @extend %flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        gap: 10px;
        padding: 20px;
        // border: 1px $white solid;
        @include border-radius(20px);
        max-width: 300px;
        width: 100%;
        min-height: 351px;
        position: relative;
        overflow: hidden;
        margin: 15px 30px 15px 0;
        background: $white;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, #e50051 26.25%, #e40134 84.96%);
          z-index: -1;
          opacity: 0;
        }
        &:hover {
          transform: translateY(-10px);

          * {
            color: $white;
          }
          b {
            color: $yellow;
          }
          .bouton-produit {
            a {
              background: $white;
              color: $red;
            }
            .reduction {
              color: $yellow;
            }
          }
        }
        &:hover::after {
          opacity: 1;
        }

        @include breakpoint(xs) {
          max-width: 90vw;
          width: 100%;
        }

        img {
          width: 100%;
          height: 130px;
          object-fit: contain;
        }

        h3 {
          font-size: 20px;
        }

        span {
          font-family: "gilroy-regular";
          font-size: 16px;
          color: $gray;

          b {
            color: $red;
            font-family: "gilroy-extrabold";
            font-size: 18px;
          }
        }

        .bouton-produit {
          @extend .flex-sb;
          width: 100%;
          .reduction {
            font-family: "gilroy-bold";
            font-size: 18px;
            color: $red;
          }
        }
      }
    }
    .slick-prev-custom-produits,
    .slick-next-custom-produits {
      position: absolute;
      top: 74%;
      transform: translateY(-50%);
      left: -10px;
      @include border-radius(50%);
      background: linear-gradient(#e20e56, #df5531);
      width: 40px;
      aspect-ratio: 1/1;
      @extend .flex-jc;
      cursor: pointer;
      border: none;
      z-index: 3;
      @include breakpoint(xs) {
        left: 0;
      }
      img {
        width: 25px;
        aspect-ratio: 1/1;
        transform: rotate(180deg);
      }
    }
    .slick-next-custom-produits {
      right: 0;
      left: initial;
      img {
        transform: rotate(0deg);
      }
    }
  }
}

//PACKS
#packs {
  .wrapper {
    @extend .t-center;
    @extend .flex-jc;
    @include flex-direction(column);
    background: #f8f8f8;
    padding: 50px;
    @include border-radius(50px);
    @include breakpoint(xs) {
      @include border-radius(0);
      padding: 40px 20px;
    }

    .section-title {
      h2 {
        color: $red;
      }
    }

    .inner-title {
      p {
        max-width: 936px;
        width: 100%;
      }
    }

    .container-pack {
      @extend .grid-25;
      @include align-items(flex-start);
      margin-top: 50px;
      gap: 30px;
      width: 100%;
      @include breakpoint(xs) {
        @include grid-template-columns(1fr);
        width: 100%;
      }

      .card-pack {
        padding: 15px;
        box-shadow: 0px 0px 20px 0px #0000000d;
        @include border-radius(20px);
        background: $white;
        font-size: 18px;
        @extend %flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        gap: 20px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        min-height: 391px;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f7a62c;
          z-index: -1;
          opacity: 0;
        }
        &:hover {
          transform: translateY(-10px);
          li,
          h3,
          .prix,
          .voir-plus {
            color: $white !important;
          }
          b {
            color: $yellow !important;
          }
          .bouton-pack {
            a {
              background: $white;
              color: $red;
            }
            .reduction {
              color: $red;
            }
          }
        }
        &:hover::after {
          opacity: 1;
        }

        .prix {
          color: $dark;
          font-family: "gilroy-extrabold";
          font-size: 22px;
        }
        .text-pack {
          @extend %flex;
          @include flex-direction(column);
          gap: 20px;
          img {
            width: 100%;
            height: 70px;
            object-fit: contain;
          }
          h3 {
            color: $dark;
            font-family: "gilroy-extrabold";

            b {
              font-family: "gilroy-extrabold";
              font-size: 24px;
              color: $red;
            }
          }

          ul.description-pack {
            @include flex-direction(column);
            list-style: none;
            margin-bottom: 8px;
            position: relative;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            transition: all 0.3s ease;
            &.open {
              -webkit-line-clamp: unset;
            }
            li {
              text-align: left;
              font-size: 18px;
              font-family: "gilroy-regular";
              color: $gray;
              margin-bottom: 10px;
              position: relative;
              padding-left: 20px;
              &::before {
                content: "✔";
                position: absolute;
                top: 0;
                left: 0;
                color: #4caf50;
                font-weight: bold;
                margin-right: 8px;
              }
              @include breakpoint(xs) {
                text-align: center;
              }
            }
          }
          .voir-plus {
            background: transparent;
            border: none;
            color: $red;
            margin-top: -20px;
            padding: 0 30px;
            text-align: left;
            font-family: "gilroy-bold";
          }
        }
        .bouton-pack {
          @extend .flex-sb;
          .btn-card {
            background: linear-gradient(to right, #f39433, #ffcd1c);
          }
          width: 100%;
          .reduction {
            font-family: "gilroy-bold";
            font-size: 18px;
            color: $red;
          }
        }
      }
    }
  }
}

//NOS REALISATIONS
#realisations {
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);

    .section-title {
      h2 {
        color: $yellow;
      }
    }

    .inner-title {
      p {
        max-width: 560px;
        width: 100%;
      }
    }
    .container-btn-slick {
      @extend %flex;
      @include align-items(center);
      margin-top: 50px;
      ul.tabslink-realisations {
        width: 1300px;
        margin: 0;
        @include breakpoint(xs) {
          width: 100vw;
        }
      }

      .slick-prev-custom,
      .slick-next-custom {
        @include border-radius(50%);
        background: linear-gradient(#e20e56, #df5531);
        width: 40px;
        aspect-ratio: 1/1;
        @extend .flex-jc;
        cursor: pointer;
        border: none;
        img {
          width: 25px;
          aspect-ratio: 1/1;
        }
      }
      .slick-prev-custom {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .container-realisations {
      margin-top: 50px;
      @include breakpoint(xs) {
        width: 100%;
      }
      .tabscontent-realisations {
        @extend .grid-50;
        gap: 20px;
        overflow: hidden;
        @include breakpoint(xs) {
          @include grid-template-columns(1fr);
        }
      }

      /* Bouton Voir plus */
      .voir-plus-btn {
        grid-column: 1 / -1;
        justify-self: center;
        padding: 20px 30px;
        @include border-radius(20px);
        width: fit-content;
        background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
        color: $white;
        border: none;
        font-size: 16px;
        font-family: "gilroy-bold";
      }
      .card-realisation {
        // display: none;
        @extend .flex-sb;
        @include align-items(stretch);
        gap: 50px;
        padding: 25px;
        background: $white;
        @include border-radius(20px);
        box-shadow: 0px 0px 20px 0px #0000001a;
        position: relative;
        margin: 20px;
        @include breakpoint(sm) {
          margin: 0;
        }
        &:hover {
          transform: translateY(-10px);
          background: $yellow;
          * {
            color: $white !important;
          }
          img.logo_realisation {
            filter: brightness(10) invert(0);
          }
        }
        @include breakpoint(xs) {
          @include flex-direction(column);
          gap: 20px;
        }

        .realisation-text {
          width: 50%;
          @extend %flex;
          @include flex-direction(column);
          @include justify-content(space-between);
          @include breakpoint(xs) {
            width: 100%;
          }
          .logo_realisation {
            img {
              max-width: 100px;
              height: 40px;
              object-fit: contain;
            }
          }
          h3 {
            color: $yellow;
            font-family: "gilroy-extrabold";
          }

          ul.liste {
            @extend %flex;
            @include flex-direction(column);
            gap: 10px;
            margin-top: 10px;

            li {
              font-size: 16px;
              color: $gray;
              font-family: "gilroy-regular";
            }

            li b {
              color: $dark;
              font-family: "gilroy-bold";
            }
          }
          .date_realisation {
            span {
              font-family: "gilroy-bold";
            }
          }
        }

        .realisation-img {
          width: 50%;
          aspect-ratio: 1/1;
          @include border-radius(20px);
          overflow: hidden;
          background: #f8f8f8;
          @include breakpoint(xs) {
            width: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .card-realisation:nth-child(4n + 3),
      .card-realisation:nth-child(4n + 4) {
        @include flex-direction(row-reverse);
        @include breakpoint(xs) {
          @include flex-direction(column);
        }
      }
      .card-realisation:nth-child(3n + 1) {
        .realisation-text {
          h3 {
            color: $red;
          }
        }
      }
    }
  }
}

// STATISTIQUES 2
.stats-2 {
  .wrapper {
    gap: 30px !important;
    @include align-items(stretch !important);
    background: linear-gradient(
      90deg,
      #e94f35 26.25%,
      #e50051 84.96%
    ) !important;
    .card-stat {
      @extend %flex;
      @include flex-direction(column);
      @include justify-content(flex-start !important);
      max-width: 350px !important;
      @include breakpoint-up(sm) {
        &:not(:last-child) {
          border-right: 1px $white solid;
          padding-right: 30px;
        }
      }
      h3 {
        color: $white;
      }
    }
  }
}

//TECHNOLOGIES
#technologies {
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);

    .section-title {
      h2 {
        color: $red;
      }
    }

    .inner-title {
      p {
        max-width: 622px;
        width: 100%;
      }
    }

    .container-technologie {
      @extend .grid-25;
      gap: 20px;
      margin-top: 50px;
      @include breakpoint(xs) {
        @include grid-template-columns(1fr);
      }

      .card-technologie {
        @extend .flex-jc;
        @include flex-direction(column);
        gap: 10px;
        box-shadow: 0px 0px 20px 0px #0000001a;
        padding: 20px 10px;
        @include border-radius(20px);
        position: relative;
        // border: 1px $white solid;
        background: $white;
        &:hover {
          transform: translateY(-10px);
          background: $yellow;
          * {
            color: $white;
            filter: brightness(10) invert(0);
          }
        }
        img {
          width: 40px;
          aspect-ratio: 1/1;
        }

        // &:nth-child(even) {
        //   h3 {
        //     color: $red;
        //   }
        // }

        /* 5 - rouge */
        &:nth-child(8n + 2),
        &:nth-child(8n + 4),
        &:nth-child(8n + 5),
        &:nth-child(8n + 7) {
          h3 {
            color: $red;
          }
        }

        h3 {
          color: $yellow;
          font-family: "gilroy-extrabold";
        }

        p {
          color: $gray;
        }
      }
      .card-technologie:nth-child(even):hover {
        background: $red;
      }
    }
  }
}
// POPUP TECHNOLOGIES
.pop-up-technologie {
  @extend .overlay;
  .pop-up-container {
    @extend .pop-up-single;
    max-width: 800px;
    background: #f8f9fa;
    padding: 50px 20px;
    .header-technologie {
      @extend .flex-jc;
      @include flex-direction(column);
      gap: 10px;
      @include breakpoint(xs) {
        display: none;
      }
      .icone-img {
        width: 60px;
        aspect-ratio: 1/1;
        background: $yellow;
        padding: 20px;
        @include border-radius(10px);
        img {
          filter: brightness(10);
        }
      }
      h3 {
        color: $yellow;
        font-family: "gilroy-extrabold";
      }
      p {
        color: $dark;
        text-align: center;
        font-family: "gilroy-bold";
      }
    }
    .body-technologie {
      margin-top: 20px;
      @extend %flex;
      @include align-items(center);
      gap: 50px;

      @include border-radius(20px);
      ul li:has(> b) {
        margin-bottom: 10px;
      }
      li {
        color: $gray;
        line-height: 25px;
        b {
          font-family: "gilroy-bold";
          display: inline-block;
          color: $dark;
        }
      }
      .img_technologie {
        max-width: 300px;
        width: 100%;
        height: 300px;
        @include border-radius(30px);
        overflow: hidden;
        @include breakpoint(sm) {
          display: none;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    #close-popup-technologie {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

//PASSION
#passion {
  .wrapper {
    @extend .flex-sb;
    @include border-radius(120px);
    @include align-items(center);
    background: #f5f5f5;
    padding: 70px;
    // box-shadow: 0px 0px 3px 0px #00000029;
    backdrop-filter: blur(50px);
    gap: 50px;

    @include breakpoint(xs) {
      @include border-radius(0);
      @include flex-direction(column);
      padding: 40px 20px;
    }

    .passion-text {
      width: 100%;
      .section-title {
        h2 {
          span {
            font-family: "gilroy-black";
            color: $yellow;
          }
        }
      }

      .inner-title {
        margin: 20px 0;

        p {
          text-align: left;
          color: $gray;
        }
      }
      .btn-red {
        @include border-radius(30px);
      }
    }

    ul {
      li {
        font-family: "gilroy-regular";
        font-size: 18px;
        color: $gray;

        &::before {
          content: url("assets/img/befor-passion.svg");
          @include breakpoint(xs) {
            display: none;
          }
        }

        span {
          padding-left: 6px;
          font-family: "gilroy-bold";
          font-size: 18px;
        }
      }
    }

    a {
      text-align: center;
      margin-top: 20px;
      width: fit-content;
    }

    .passion-img {
      width: 100%;
      height: 479px;
      @include border-radius(90px);
      background: $yellow;
      overflow: hidden;
      @include breakpoint(xs) {
        min-width: 100%;
        @include border-radius(20px);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//HISTORIQUE
#historique {
  position: relative;
  padding-bottom: 400px;
  @extend .shape-top;
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);

    .section-title {
      h2 {
        color: $yellow;
      }
    }

    .inner-title {
      p {
        color: $white;
      }
    }
  }
}

//CARD-HISTORIQUE
#container-historique {
  margin-top: -350px;
  .wrapper {
    background: #ffffff94;
    @include border-radius(30px);
    padding: 100px;
    box-shadow: 0px 0px 20px 0px #00000029;
    backdrop-filter: blur(50px);
    position: relative;
    --afterHeight: 100%;
    overflow: hidden;
    @include breakpoint(xs) {
      @include border-radius(20px);
      padding: 40px 20px;
    }
    .separateur-historique {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scale(1.05);
      width: 100%;
      max-width: 140px;
      @include breakpoint(sm) {
        display: none;
      }
    }

    .card-historique {
      @extend %flex;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s ease-out, transform 0.8s ease-out;
      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
      @include breakpoint(sm) {
        @include justify-content(center);
        margin-bottom: 20px;
      }
      &_item {
        background: $white;
        width: 100%;
        max-width: 500px;
        padding: 30px 20px;
        box-shadow: 0px 0px 20px 0px #0000001a;
        @include border-radius(20px);
        padding: 26px;
        &:hover {
          transform: scale(1.05);
        }
        @include breakpoint(xs) {
          max-width: 100%;
        }

        h3 {
          color: $yellow;
        }

        span {
          font-family: "gilroy-bold";
          color: $red;
          font-size: 18px;
          padding: 2px 2px;
        }

        p {
          font-size: 12px;
          color: $gray;
        }
      }
    }

    @include breakpoint-up(sm) {
      .card-historique:nth-child(odd) {
        @include justify-content(start);

        .card-historique_item {
          text-align: right;
        }
      }

      .card-historique:nth-child(even) {
        @include justify-content(end);
      }
    }
  }
}

//EQUIPE
#equipe {
  .wrapper {
    position: relative;
    background: $white;
    @include border-radius(30px);
    overflow: hidden;
    padding: 50px 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
      @include breakpoint(sm) {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 30%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
      transform: rotate(180deg);
      @include breakpoint(sm) {
        display: none;
      }
    }
    .section-title {
      h2 {
        color: $red;
      }
    }

    .inner-title {
      p {
        width: 100%;
        max-width: 622px;
        margin: auto;
      }
    }
    .container-equipe {
      width: 1300px;
      margin-top: 50px;
      @include breakpoint(xs) {
        width: 100%;
      }
      .card-equipe {
        width: 100%;
        max-width: 310px;
        margin: 0 10px;
        @extend %flex;
        @include flex-direction(column);
        @include align-items(center);

        @include breakpoint(xs) {
          max-width: 100%;
          width: 100%;
        }
        &:hover {
          .equipe-img {
            &::before {
              opacity: 0.5;
            }
            .info-membre {
              top: 50%;
            }
          }
        }
        @include breakpoint(xs) {
          max-width: 100%;
        }

        .equipe-img {
          height: 238px;
          width: 238px;
          background: $yellow;
          @include border-radius(30px);
          box-shadow: 0px 0px 3px 0px #00000029;
          backdrop-filter: blur(50px);
          overflow: hidden;
          position: relative;
          @extend .flex-jc;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark;
            opacity: 0;
          }
          img {
            height: auto;
            width: 100%;
            object-fit: cover;
          }
          .info-membre {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px $white solid;
            @extend %flex;
            gap: 10px;
            padding: 10px;
            @include border-radius(20px);
            img {
              filter: brightness(10);
              height: 25px;
            }
          }
        }

        .equipe-text {
          margin-top: 10px;

          h3 {
            color: $dark;
          }

          p {
            color: $red;
          }
        }
      }
    }
    .slick-prev-custom-equipe,
    .slick-next-custom-equipe {
      position: absolute;
      top: 62%;
      transform: translateY(-50%);
      left: 10px;
      @include border-radius(50%);
      background: linear-gradient(#e20e56, #df5531);
      width: 40px;
      aspect-ratio: 1/1;
      @extend .flex-jc;
      cursor: pointer;
      border: none;
      z-index: 98;
      @include breakpoint(xs) {
        left: 0;
      }
      img {
        width: 25px;
        aspect-ratio: 1/1;
        transform: rotate(180deg);
      }
    }
    .slick-next-custom-equipe {
      right: 10px;
      left: initial;
      @include breakpoint(xs) {
        right: 0;
      }
      img {
        transform: rotate(0deg);
      }
    }
  }
}
// POPUP EQUIPE
.pop-up-info-equipe {
  @extend .overlay;
  .pop-up-container {
    @extend .pop-up-single;
    max-width: 500px;
    padding: 50px 20px;
    .header-info-equipe {
      @extend .flex-jc;
      overflow: hidden;
      .nom_poste {
        @extend %flex;
        @include flex-direction(column);
        @include align-items(center);
        background: $white;
        padding: 20px;
        @include border-radius(30px);
        width: fit-content;
        gap: 10px;
        h3 {
          color: $yellow;
        }
        img {
          background: $yellow;
          width: 200px;
          aspect-ratio: 1/1;
          object-fit: cover;
          @include border-radius(20px);
        }
        span.poste {
          color: $red;
          font-family: "gilroy-bold";
        }
      }
    }
    .body-info-equipe {
      margin-top: 20px;
      ul li {
        color: $dark;
        margin-bottom: 10px;
      }
    }
    #close-popup-info-equipe {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
//MARQUE
#marque {
  .wrapper {
    background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
    @include border-radius(30px);
    padding: 50px 0;
    @extend %flex;
    @include flex-direction(column);
    @include align-items(center);
    gap: 20px;

    @include breakpoint(xs) {
      @include border-radius(0);
    }

    .section-title {
      h2 {
        color: $yellow;
      }
    }

    .inner-title {
      p {
        color: $white;
      }
    }
  }
}

//PROCESSUS
#processus {
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);

    .section-title {
      h2 {
        color: $yellow;
      }
    }

    .inner-title {
      p {
        width: 100%;
        max-width: 664px;
        margin: auto;
      }
    }
    .container-tabslink-processus {
      margin-top: 60px;
      position: relative;
      .separateur-processus {
        position: absolute;
        top: 0;
        width: 0;
        width: 1300px;
      }
      .slick-prev-custom-processus,
      .slick-next-custom-processus {
        @include border-radius(50%);
        background: linear-gradient(#e20e56, #df5531);
        width: 40px;
        aspect-ratio: 1/1;
        @extend .flex-jc;
        cursor: pointer;
        border: none;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: none !important;
        img {
          @extend .bo;
          width: 25px;
          aspect-ratio: 1/1;
          transform: rotate(180deg);
        }
      }
      .slick-prev-custom-processus {
        right: 0;
        left: initial;
        img {
          transform: rotate(0deg);
        }
      }
      ul.tabslink-processus {
        @extend %flex;
        gap: 0;
        background: transparent;
        position: relative;
        width: 1300px;
        cursor: grab;
        margin-top: 0;
        transform: translateY(5px);
        @include breakpoint(xs) {
          width: 100vw;
        }
        li {
          padding: 20px 0;
          margin: 0 40px;
          position: relative;
          z-index: 1;
          a {
            font-size: 18px;
            padding: 15px;
            color: $gray;
            background: $white;
            box-shadow: 0px 0px 20px 0px #0000001a;
            @include border-radius(20px);
            @extend %flex;
            gap: 10px;
            width: 228px;
            @extend .flex-jc;
            @include breakpoint(xs) {
              width: 50px;
              @include border-radius(0);
            }
            &:hover {
              transform: translateY(-10px);
            }
            &.active {
              background: linear-gradient(
                90deg,
                #e50051 26.25%,
                #e94f35 84.96%
              );
              color: $white;
              img {
                filter: brightness(10);
              }
            }
            span {
              font-family: inherit;
              @include breakpoint(xs) {
                display: none;
              }
            }
            img {
              width: 24px;
            }
          }
        }
      }
      .processus-progress {
        width: 100%;
        height: 10px;
        background: rgba(0, 0, 0, 0.1);
        @include border-radius(20px);
        margin-top: 20px;
        overflow: hidden;
        .processus-progress-bar {
          height: 100%;
          width: 0%;
          background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
          transition: width 0.4s ease;
        }
      }
    }

    .tabscontent-processus {
      @extend .flex-sb;
      margin-top: 55px;
      gap: 32px;
      @include breakpoint(sm) {
        @include flex-direction(column);
      }
      .processus-text {
        .section-title {
          h2 {
            color: $red;
          }
        }

        .inner-title {
          p {
            text-align: left;
            padding-top: 35px;
          }
        }
      }

      .processus-img {
        min-width: 662px;
        height: 360px;
        background: $yellow;
        @include border-radius(90px);
        @include breakpoint(xs) {
          min-width: 100%;
          @include border-radius(20px);
        }
      }
    }
  }
}

//FAQ
#faq {
  margin: 60px 0;
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);
    background: #f5f5f5;
    @include border-radius(120px);
    padding: 75px 140px;
    @include breakpoint(xs) {
      @include border-radius(0);
      padding: 40px 20px;
    }
    .section-title {
      h2 {
        color: $red;
      }
    }

    .inner-title {
      p {
        width: 100%;
        max-width: 553px;
      }
    }
    /* Largeur de la scrollbar */
    ::-webkit-scrollbar {
      width: 12px; /* vertical scrollbar */
      height: 12px; /* horizontal scrollbar */
    }

    /* Piste de la scrollbar */
    ::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 6px;
    }

    /* Bouton de scroll (la "thumb") */
    ::-webkit-scrollbar-thumb {
      background-color: #df4d34; /* couleur du curseur */
      border-radius: 6px;
      border: 3px solid #f0f0f0; /* pour créer un effet de marge */
    }

    /* Optionnel : au hover */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #f5bf2a;
    }

    .accordeon {
      margin-top: 41px;
      height: 450px;
      overflow-y: hidden;
      overflow-y: scroll;
      position: relative;
      &::before {
        content: "";
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(
          to bottom,
          #f5f5f5 0%,
          #f5f5f5 50%,
          rgba(255, 255, 255, 0) 100%
        );
        z-index: 2;
        display: block;
        @include breakpoint(sm) {
          display: none;
        }
      }
      &::after {
        content: "";
        position: sticky;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(
          to bottom,
          #f5f5f5 0%,
          #f5f5f5 50%,
          rgba(255, 255, 255, 0) 100%
        );
        z-index: 2;
        transform: rotate(180deg);
        display: block;
        @include breakpoint(sm) {
          display: none;
        }
      }
      .accordeon-content {
        padding: 30px 40px;
        background: $white;
        box-shadow: 0px 0px 3px 0px #0000000d;
        backdrop-filter: blur(30px);
        @include border-radius(20px);
        width: 100%;
        margin-bottom: 20px;

        .accordeon-title {
          @extend .flex-sb;
          @include align-items(center);
          cursor: pointer;

          h3 {
            font-size: 24px;
            color: $dark;

            @include breakpoint(xs) {
              font-size: 16px;
            }
          }

          .icon {
            width: 27px;
          }
        }

        .accordeon-text {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;

          p {
            font-family: "gilroy-regular";
            color: $gray;
            font-size: 18px;
            margin-top: 27px;
          }
        }
      }
    }
  }
}

//CONSEILS
#conseils {
  .wrapper {
    @extend .flex-jc;
    @include flex-direction(column);

    .section-title {
      h2 {
        color: $yellow;
      }
    }

    .inner-title {
      p {
        color: $gray;
        max-width: 622px;
      }
    }
    /* Largeur de la scrollbar */
    ::-webkit-scrollbar {
      width: 12px; /* vertical scrollbar */
      height: 12px; /* horizontal scrollbar */
    }

    /* Piste de la scrollbar */
    ::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 6px;
    }

    /* Bouton de scroll (la "thumb") */
    ::-webkit-scrollbar-thumb {
      background-color: #df4d34; /* couleur du curseur */
      border-radius: 6px;
      border: 3px solid #f0f0f0; /* pour créer un effet de marge */
    }

    /* Optionnel : au hover */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #f5bf2a;
    }
    .container-conseils {
      @extend .grid-33;
      gap: 20px;
      margin-top: 50px;
      height: 600px;
      overflow-y: hidden;
      overflow-y: scroll;

      @include breakpoint(xs) {
        @include grid-template-columns(1fr);
      }
      .card-conseil {
        position: relative;
        padding: 0;
        box-shadow: 0px 0px 7.5px 0px #0000000d;
        @include border-radius(20px);
        overflow: hidden;
        height: 315px;
        margin: 0 20px;
        background: $white;
        .conseil-img {
          width: 100%;
          height: 178px;
          background: #707070;
          margin-bottom: 15px;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .conseil-text {
          padding: 20px;

          h3 {
            color: $dark;
            font-size: 18px;
          }

          p {
            color: $gray;
            margin: 10px 0;
            font-family: "gilroy-regular";
          }

          a {
            color: $red;
            font-family: "gilroy-bold";
            z-index: 2;
          }
        }
      }

      .card-conseil:nth-child(even) {
        h3 {
          color: $red;
        }
      }
    }
  }
}

//FORMULAIRE
#formulaire {
  .wrapper {
    @extend .flex-sb;
    @include align-items(stretch);
    max-width: 1200px;
    @include border-radius(60px);
    box-shadow: 0px 0px 7.5px 0px #0000000d;
    padding: 0;
    gap: 30px;
    background: $white;
    @include breakpoint(xs) {
      @include border-radius(0);
      @include flex-direction(column);
    }

    .formulaire-text {
      @extend %flex;
      @include flex-direction(column);
      gap: 20px;
      padding: 50px;

      @include breakpoint(xs) {
        padding: 20px;
      }
      .container-bouton {
        @extend %flex;
        @include breakpoint(xs) {
          @include flex-direction(column);
          gap: 20px;
        }
        .section-title {
          max-width: 337px;
          line-height: 55px;
          @include breakpoint(xs) {
            max-width: 100%;
            line-height: 30px;
          }
        }

        .bouton_connexion {
          @extend .flex-jc;
          @include breakpoint(xs) {
            display: none;
          }
          .btn {
            box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.0509803922);
            color: $dark;
          }
          .btn-white {
            background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
            box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.0509803922);
            color: $white;
          }
        }
      }

      .inner-title {
        p {
          font-size: 18px;
          text-align: left;
        }
      }

      form {
        input,
        textarea {
          font-family: "gilroy-regular";
          font-size: 18px;
          color: $gray;
          @include border-radius(20px);
          border: none;
          padding: 15px 20px;
          box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.0509803922);
        }
        @include breakpoint-up(xs) {
          input[name="nom"],
          input[name="prenom"] {
            width: 49%;
            display: inline;
          }

          input[name="prenom"] {
            float: right;
          }
        }

        @include breakpoint(xs) {
          input[name="nom"],
          input[name="prenom"] {
            width: 100%;
            margin-top: 15px;
          }
        }

        textarea {
          resize: none;
          width: 100%;
          margin-top: 15px;
          height: 189px;
        }

        button[type="submit"] {
          border: none;
          margin-top: 15px;
          padding: 15px 20px;
          font-family: "gilroy-bold";
          font-size: 18px;
          background: linear-gradient(90deg, #e94f35 26.25%, #e50051 84.96%);
          @include border-radius(20px);
        }
      }
    }

    .formulaire-img {
      min-width: 404px;
      background: #f3f3f3;
      @include border-radius(0 60px 60px 0);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
