#banner-connexion {
  margin-bottom: 50px;
  position: relative;
  .wrapper {
    .container-connexion-text {
      @extend %flex;
      @include align-items(start);
      @include flex-direction(column);
      @include breakpoint(sm) {
        @include align-items(center);
      }
      padding: 70px 0;
      .section-title {
        h2 {
          color: $white;
          span {
            color: $yellow;
            font-family: inherit;
          }
        }
      }
      .container-connexion-form {
        background: $white;
        padding: 50px;
        @include border-radius(20px);
        margin-top: 50px;

        @include breakpoint(sm) {
          padding: 30px;
        }

        .section-title {
          h2 {
            color: $red;
          }
        }
        ul.tabslink-connexion {
          padding: 10px;
          margin: 0;
          flex-wrap: nowrap;
          @include border-radius(20px);

          li a {
            padding: 10px 35px;
            @include border-radius(20px);
            font-size: 18px;
            @include breakpoint(sm) {
              padding: 10px 20px;
              font-size: 16px;
            }
          }
        }
        .tabscontent-connexion {
          form {
            @extend %flex;
            @include flex-direction(column);
            gap: 10px;
            width: 100%;
            margin-top: 20px;
            input {
              padding: 15px 20px;
              text-align: left;
              border: 1px #f8f8f8 solid;
              @include border-radius(20px);
            }
            button {
              color: $white;
              padding: 10px;
            }
          }
          .lost-password {
            @extend .flex-sb;
            margin-top: 20px;
            @include breakpoint(sm) {
              @include flex-direction(column-reverse);
              gap: 5px;
              margin-top: 10px;
            }
            a,
            span {
              color: $gray;
              font-size: 14px;
            }
            .remember {
              @extend %flex;
              @include align-items(center);
              gap: 7px;
            }
          }
        }
      }
    }
  }
  .container-connexion-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    @include breakpoint(sm) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
