#banner-reset-password {
  margin-bottom: 50px;
  position: relative;
  height: 100vh;
  @extend .flex-jc;
  .wrapper {
    @extend .flex-jc;
    .container-reset-password {
      background: $white;
      @include border-radius(20px);
      min-width: 450px;
      padding: 50px;
      .section-title {
        h2 {
          font-size: 18px;
          font-family: "gilroy-bold";
          color: $gray;
        }
      }
      form {
        @extend %flex;
        @include flex-direction(column);
        gap: 10px;
        margin-top: 20px;
        input {
          padding: 15px 20px;
          text-align: left;
          border: 1px #f8f8f8 solid;
          @include border-radius(20px);
        }
        button {
          color: $white;
          padding: 10px;
        }
      }
    }
  }
}
.pop-up-reset-password {
  @extend .overlay;
  .pop-up-container {
    @extend .pop-up-single;
    .header-reset-password {
      @extend .flex-jc;
      @include flex-direction(column);
      gap: 20px;
      img {
        background: #dcfce7;
        width: 70px;
        aspect-ratio: 1/1;
        @include border-radius(50%);
        padding: 10px;
        @include breakpoint(sm) {
          width: 50px;
        }
      }
      h3 {
        color: $dark;
        @include breakpoint(sm) {
          font-size: 18px;
        }
      }
    }
    .body-reset-password {
      @extend .flex-sb;
      margin-top: 20px;
      a.btn {
        border: 1px $gray solid;
        color: $gray;
      }
      a {
        width: 100%;
        text-align: center;
      }
    }
    #close-popup-reset-password {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
