//BANNER SINGLE BLOG
.banner-single-blog {
  .wrapper {
    @extend .flex-jc;
    gap: 5px;
    .section-title {
      h2 {
        color: $white;
        font-size: 30px;
      }
    }
    .date {
      span {
        color: $white;
        font-size: 18px;
        font-family: "gilroy-regular";
      }
    }
  }
}

//SINGLE-BLOG
#single-blog {
  .wrapper {
    @extend .flex-sb;
    @include align-items(start);
    gap: 50px;
    @include breakpoint(sm) {
      @include flex-direction(column);
    }
    .container-single-blog {
      width: 65%;
      box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.1019607843);
      padding: 20px;
      @include breakpoint(sm) {
        width: 100%;
      }
      @include border-radius(20px);
      .single-blog-img {
        width: 100%;
        height: 500px;
        overflow: hidden;
        @include border-radius(20px);
        margin-bottom: 30px;
        @include breakpoint(xs) {
          height: 300px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .single-blog-text {
        br {
          display: none;
        }
        * {
          line-height: 30px;
        }
        h2 {
          font-size: 24px;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 20px;
          margin: 10px 0 5px 0;
        }
        ul {
          @extend %flex;
          @include flex-direction(column);
          gap: 5px;
        }
      }
    }
    .other-blog {
      width: 35%;
      @extend %flex;
      @include flex-direction(column);
      gap: 20px;
      box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.1019607843);
      padding: 20px;
      @include border-radius(20px);
      @include breakpoint(sm) {
        width: 100%;
      }
      h2 {
        font-size: 20px;
        font-family: "gilroy-bold";
      }
      .card-other-blog {
        @extend .flex-sb;
        @include justify-content(start);
        position: relative;
        .card-img {
          height: 100px;
          min-width: 150px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @include border-radius(20px);
          @include breakpoint(xs) {
            height: 80px;
          }
        }
        .card-text {
          h3 {
            font-size: 18px;
            font-family: "gilroy-bold";
            @include breakpoint(xs) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
