[class^="btn"] {
  padding: 20px 30px;
  @include border-radius(30px);
  font-family: "gilroy-bold";
  border: none;
  z-index: 2;
  &:hover {
    transform: scale(1.05);
  }
  @include breakpoint(xs) {
    padding: 10px;
  }
}

// BTN
.btn {
  &-gradient {
    background: linear-gradient(to right, #f39433, #ffcd1c);
    color: $white;
  }

  &-card {
    padding: 10px;
    width: 100%;
    background: linear-gradient(90deg, #e50051 26.25%, #e94f35 84.96%);
    color: $white;
  }

  &-white {
    background: $white;
    color: $red;
  }

  &-yellow {
    background: $yellow;
    color: $dark;
    width: 100%;
  }

  &-red {
    background: $red;
    color: $white;
    width: 100%;
  }

  &-3d {
    background: linear-gradient(180deg, #ffa127 39.97%, #df5531 90.8%);
    box-shadow: 0px 3px 3px 0px #0000001a;
    color: $white;
    padding: 10px 90px;
  }
}
