[class^="btn"] {
  padding: 20px 30px;
  @include border-radius(30px);
  font-family: "gilroy-bold";
  border: none;
}

// BTN
.btn {
  &-gradient {
    background: linear-gradient(to right, #ffa127, #df5531);
    color: $white;
  }

  &-card {
    @include border-radius(10px);
    padding: 10px;
    width: 100%;
    background: linear-gradient(88.3deg, #df5531 114.35%, #ffa127 22.97%);
    color: $white;
  }

  &-white {
    background: $white;
    color: $red;
  }

  &-yellow {
    background: $yellow;
    color: $dark;
    width: 100%;
  }

  &-red {
    background: $red;
    color: $white;
    width: 100%;
  }

  &-3d {
    background: linear-gradient(180deg, #ffa127 39.97%, #df5531 90.8%);
    box-shadow: 0px 3px 3px 0px #0000001a;
    color: $white;
    padding: 10px 90px;
  }
}
