@font-face {
  font-family: "gilroy-ultralight";
  src: url("assets/fonts/Gilroy-UltraLight.ttf");
}
@font-face {
  font-family: "gilroy-black";
  src: url("assets/fonts/Gilroy-Black.ttf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "gilroy-extrabold";
  src: url("assets/fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "gilroy-heavy";
  src: url("assets/fonts/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "gilroy-light";
  src: url("assets/fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: "gilroy-medium";
  src: url("assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "gilroy-regular";
  src: url("assets/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "gilroy-thin";
  src: url("assets/fonts/Gilroy-Thin.ttf");
}
