.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
    @include breakpoint(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.px-80 {
    padding-left: 80px;
    padding-right: 80px;
    @include breakpoint(md) {
        padding-left: 0;
        padding-right: 0;
    }
}
.px-90 {
    padding-left: 90px;
    padding-right: 90px;
    @include breakpoint(md) {
        padding-left: 0;
        padding-right: 0;
    }
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
    @include breakpoint(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.py-130 {
    padding-top: 130px;
    padding-bottom: 130px;
    @include breakpoint(md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.py-150 {
    padding-top: 150px;
    padding-bottom: 150px;
    @include breakpoint(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.py-100-30 {
    padding-top: 100px;
    padding-bottom: 30px;
}

.py-100-60 {
    padding-top: 100px;
    padding-bottom: 60px;
}

.py-150-60 {
    padding-top: 150px;
    padding-bottom: 60px;
}

.nt-200 {
    margin-top: -200px;
    @include breakpoint(md) {
        margin-top: 0;
    }
}

.w-lg-50 {
    @include breakpoint-up(lg) {
        width: 50%;
    }
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
    @include breakpoint(md) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.mt-100 {
    margin-top: 100px;
    @include breakpoint(md) {
        margin-top: 30px;
    }
}
.mt-80 {
    margin-top: 80px;
    @include breakpoint(md) {
        margin-top: 30px;
    }
}
.mt-60 {
    margin-top: 60px;
    @include breakpoint(md) {
        margin-top: 30px;
    }
}

.mb-130 {
    margin-bottom: 130px;
    @include breakpoint(md) {
        margin-bottom: 60px;
    }
}

.mb-100 {
    margin-bottom: 100px;
    @include breakpoint(md) {
        margin-bottom: 50px;
    }
}
.mb-80 {
    margin-bottom: 80px;
    @include breakpoint(md) {
        margin-top: 30px;
    }
}
.mb-60 {
    margin-bottom: 60px;
    @include breakpoint(md) {
        margin-bottom: 40px;
    }
}

.mb-0 {
    margin-bottom: 0px;
}

.gap {
    &-10 {
        gap: 10px;
    }
    &-20 {
        gap: 20px;
    }
    &-30 {
        gap:30px;
    }
}