h1 {
  font-family: "gilroy-heavy";
  font-size: 100px;
  color: $yellow;
  line-height: 100px;
  span {
    font-family: "gilroy-heavy";
  }
  @include breakpoint(sm) {
    font-size: 70px;
  }
  @include breakpoint(xs) {
    font-size: 50px;
    line-height: 50px;
  }
}
h2 {
  font-family: "gilroy-heavy";
  font-size: 48px;
  @include breakpoint(xs) {
    font-size: 30px;
  }
}
h3 {
  font-family: "gilroy-bold";
  font-size: 24px;
  color: $gray;
  @include breakpoint(xs) {
    font-size: 20px;
  }
}
h4 {
  font-family: "gilroy-bold";
  font-size: 24px;
  color: $dark;
  @include breakpoint(xs) {
    font-size: 20px;
  }
}
p.medium {
  font-family: "gilroy-medium";
  font-size: 24px;
  line-height: 29px;
  @include breakpoint(xs) {
    font-size: 16px;
  }
}
p.small {
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 29px;
  @include breakpoint(xs) {
    font-size: 16px;
  }
}

@include breakpoint(xs) {
  p {
    font-size: 16px;
  }
}
