.main-wrapper {
  @extend .flex-sb;
  @include align-items(flex-start);
  background: #f0f8ff;
  gap: 20px;
  .sidebar {
    position: sticky;
    height: 100vh;
    width: 20%;
    top: 0;
    left: 0;
    background: $red;
    @extend %flex;
    @include flex-direction(column);
    justify-content: space-between;

    .sidebar-header {
      padding: 20px;
      img {
        filter: brightness(10) invert(0);
        width: 100%;
        max-width: 100px;
      }
    }
    .sidebar-nav {
      ul {
        @extend %flex;
        @include flex-direction(column);
        gap: 0;

        li {
          a {
            font-family: "Gilroy-regular";
            color: $white;
            font-size: 16px;
            padding: 10px 20px;
            &.active {
              color: $red;
              background: #f0f8ff;
              position: relative;
              // &::after {
              //   content: url("assets/img/mask.svg");
              //   position: absolute;
              //   top: 50%;
              //   left: 51%;
              //   transform: translate(-50%, -50%) scaleY(0.9);
              //   width: 100%;
              //   z-index: -1;
              // }
            }
          }
        }
      }
    }
    .sidebar-footer {
      padding: 20px;
      a {
        color: $white;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
}
